<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value="../../build/.NET/Tests/DiligentCoreTest.NET/RestoredPackages/" />
	</config>
	<packageSources>
		<add key="Local Source" value="../../build/.NET/Tests/DiligentCoreTest.NET/LocalPackages/" />
	</packageSources>
</configuration>
